.access {
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    gap: 22px;
    align-items: start;

    @include viewport-768 {
        grid-template-columns: 1fr;
    }

    &__item {
        padding-block: 10px;
        border-bottom: 1px solid $c-border;
        display: grid;
        grid-template-columns: 120px 1fr;

    }

    &__link {
        display: flex;
        margin-top: 16px;
        gap: 10px;
    }

    &__map {
        border-radius: 18px;
        overflow: hidden;
        box-shadow: $shadow-sm;
        background: $c-bg;

        & iframe {
            width: 100%;
            height: 400px;
            border: 0;
            display: block;
        }
    }
}