.accordion {
    display: grid;
    gap: 10px;

    &__item {
        border: 1px solid $c-border;
        border-radius: 14px;
        background-color: $c-bg;
    }

    &__summary {
        display: flex;
        padding: 16px 18px;

        &::before {
            content: "▼";
            transition: transform 0.25s ease;
            margin-right: 16px;
        }
    }

    &__item[open] &__summary::before {
        transform: rotate(-90deg);
    }

    &__content {
        display: grid;
        grid-template-rows: 0fr;
        margin-left: 32px;
        padding: 0 18px 16px;
        color: $c-sub;
        transition: grid-template-rows 0.35s ease;
    }
}