.reserve {
    padding-block: 70px;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        flex-wrap: wrap;
    }

    &__label {
        margin-bottom: 6px;
        color: $c-bg;
    }

    &__title {
        margin-bottom: 6px;
        color: $c-bg;
    }

    &__text {
        margin-bottom: 6px;
        color: $c-bg;
    }

    .reserve__action {
        display: flex;
        gap: 12px;
    }
}